 <!-- zaglavlje -->
 <div class="logo" > 
    <table> 
        <tr> 
            <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>
            <td style="margin-left:1200px;">
            <li class="nav-item" style="margin-left: 1150px; "> 
           <a class="nav-link" routerLink="">Home</a>
       </li> </td>
        </tr>
        
       </table>      
</div>

<div class="backgroundImage">


     <div class="table-responsive table-striped">
         <table class='table'>
             <thead   style="color:rgb(17, 67, 109); opacity: 2.2; background-color: whitesmoke;">
                 <tr>
                     <th> </th>
                     <th>Date</th>
                    
                     <th>Content</th>
                     <th> </th>
                     <th></th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>
                
                 <tr *ngFor = 'let notification of notifications'>    
                     <td></td>
                     <td style="opacity: 2.2; color: black; font-size: 16px;">{{notification.date | date:'short'}}</td>
                
                     <td>{{notification.content}}</td>
                     <td> <button type="button" class="btn btn-outline-secondary" style="width: 150px;" *ngIf="!notification.seen" (click)="changeToSeen(notification)"> <i class="bi-alarm"></i> procitano </button></td>
                     <td> <button type="button" class="btn btn-outline-secondary" style="width: 150px;"  (click)="deleteNotification(notification.id)"> <i class="bi bi-trash"></i> obrisi </button></td>
                 </tr>  
 
             </tbody>
         </table>
     </div>
      <!-- div za background da bi se videla slika-->
    <div style="height: 400px; width:20px ;"> </div>
     </div>

