<app-navbar>
    <div app-navbar-button>
    </div>
</app-navbar>
<div class="backgroundImage" style="overflow-x: hidden;">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col justify-content-center d-flex">
            <h1 style="color: rgb(133 27 27);">Feedbacks</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="table-responsive table-striped">
                <table class="table text-center">
                    <thead style="color:rgb(95, 173, 236); margin-bottom: 15px;">
                        <th scope="col">Username</th>
                        <th scope="col">Date</th>
                        <th scope="col">Text</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody class="table-hover">
                        <tr *ngFor="let feedback of feedbacks">
                            <td>{{ feedback.anonymous ? 'Anonymous' : feedback.patientUsername }}</td>
                            <td>{{ feedback.submissionDate | date:'dd.MM.yyyy.'}}</td>
                            <td>{{ feedback.text }}</td>
                            <td class="justify-content-center display-inline text-center">
                                <button *ngIf="feedback.publishAllowed && !feedback.isPublished" name="publishButton"
                                    (click)="publishFeedback(feedback)" class="btn btn-md text-light text-center"
                                    style="background-color: rgb(133 27 27);">
                                    Publish
                                </button>
                                <button *ngIf="feedback.publishAllowed && feedback.isPublished" name="hideButton"
                                    (click)="publishFeedback(feedback)" class="btn btn-secondary btn-md text-light text-center">
                                    Hide
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>