<!-- Naslov -->
<div class="titleDiv">
    <table>
        <tr>
            <td><img src="../../assets/favicon.png" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; "> LeanOn Hospital</p></td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div id="newTender" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal for complaint-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: x-large;">New tender</h4>
        </div>
        <div class="modal-body">
          <table>
            <tr style="height: 10px;"> </tr>
            <tr>
              <td class="tdInForm"> <label style="font-size: medium;">Tender items: </label></td>
            </tr>
            <tr *ngFor = 'let item of newTender.tenderItems'>
              <td ><label>{{item.tenderItemName}}</label></td>
              <td ><label>{{item.tenderItemQuantity}}</label></td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="tdInForm"> <label style="font-size: medium;">Item</label></td>
              <td ><input type="text" class="form-control" placeholder="Enter medicine" [(ngModel)]="tenderItem.tenderItemName"  > </td>
            </tr>
            <tr style="height: 10px;"> </tr>
            <tr>
              <td class="tdInForm"> <label style="font-size: medium;">Ammount</label> </td>
              <td style= "width: 250px"><input type="number" class="form-control" placeholder="Enter amount"  [(ngModel)]="tenderItem.tenderItemQuantity" > </td>
            </tr>
            <tr>
              <td class="tdInForm"> </td><td><button class="btn btn-secondary" (click)="addTenderItem(tenderItem)" >  <i class="bi bi-plus-lg"></i>Add item </button> </td>
            </tr>
            <tr>
              <td class="tdInForm"> <label style="font-size: medium;">Active until</label> </td>
              <td style= "width: 250px"><input type="date" class="form-control" placeholder="Enter amount"  [(ngModel)]="newTender.tenderCloseDate" > </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" style="margin-right:30px; " data-dismiss="modal" (click)="saveTender()">Post</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="backgroundImage">
   <!--<div style="height: 50px"> </div>-->
   <h1 style="margin-left: 45%;color: rgb(133 27 27); "> Tenders</h1>
    <button class='btn btn-secondary addButton' data-toggle="modal" data-target="#newTender"> <i class="bi bi-plus-lg"></i>   Create new tender</button>



   <!-- <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Tender 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
          <p class="card-text">Panklav 52</p>
          <p class="card-text">Verapamil 20</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> -->


      <div class="container-fluid">

        <div class="mx-auto card " style="background: transparent;">
            <div class="card-body" style="background: transparent;">
              <!-----------------------------------------STATISTIKA----------------------------------------------->  
              <div style="margin-left: 15%; margin-right: 15%; margin-bottom: 3rem;">
                <table>
                  <tr>
                    <td><h1 style="margin-left: 5rem;margin-top: 5px;"> Generate report for specific period: </h1> </td>
                    <td><input id="startDate" type="date" class="form-control" placeholder="Start date" style="margin-left: 10px;" [(ngModel)]="start"></td>
                    <td><input id="endDate" type="date" class="form-control" placeholder="End date" style="margin-left: 15px;" [(ngModel)]="end"></td>
                    <td><button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 30px;" (click)="generateReportPdf(start, end)">Generate</button></td>
                  </tr>
                </table>
               
              </div>
              
              
              
              <h1 style="margin-left: 42%;"> All active tenders: </h1>
                <hr />

                  <div class="card-columns mx-auto">

                      <div class="card text-center" *ngFor = 'let tender of tenders'>
                        <div class="card-body">
                          <h5 class="card-title">Tender {{tender.id}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
                          <p *ngFor = 'let item of tender.tenderItems' class="card-text">{{item.tenderItemName}} {{item.tenderItemQuantity}}</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date start: </h6>
                          <p class="card-text"> {{tender.tenderOpenDate | date: 'shortDate'}}</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date end: </h6>
                          <div><p class="card-text" *ngIf="compareDates(tender.tenderCloseDate); else elseBlock"> {{tender.tenderCloseDate | date: 'shortDate'}}  </p>
                          </div>
                            <ng-template #elseBlock><p class="card-text">Indefinite</p></ng-template>
                          <a [routerLink]="" (click)="closeTender(tender.id)" class="card-link" style="text-decoration: darkred; color:rgb(133, 27, 27) ; font-size:large ;">Close tender</a>
                          <a [routerLink]="['/tender', tender.id]" class="card-link" style="text-decoration: darkred; color:rgb(133, 27, 27) ; font-size:large ;">Show offers</a>
                        </div>
                      </div>
                  </div>

            </div>
        </div>

        <div class="mx-auto card " style="background: transparent;">
          <div class="card-body" style="background: transparent;">
              <h1 style="margin-left: 42%;"> Closed tenders: </h1>
              <hr />

                <div class="card-columns mx-auto">

                    <div class="card text-center" *ngFor = 'let tender of closedTenders'>
                      <div class="card-body">
                        <h5 class="card-title">Tender {{tender.id}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
                        <p *ngFor = 'let item of tender.tenderItems' class="card-text">{{item.tenderItemName}} {{item.tenderItemQuantity}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Date start: </h6>
                        <p class="card-text"> {{tender.tenderOpenDate | date: 'shortDate'}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Date end: </h6>
                        <div>
                        <p class="card-text" *ngIf="compareDates(tender.tenderCloseDate); else elseBlock"> {{tender.tenderCloseDate | date: 'shortDate'}}  </p>
                      </div>
                        <ng-template #elseBlock><p class="card-text">Indefinite</p></ng-template>
                        <a [routerLink]="['/tender', tender.id]" class="card-link" style="text-decoration: darkred; color:rgb(133, 27, 27) ; font-size:large ;">Show offers</a>
                      </div>
                    </div>
                </div>

          </div>
      </div>

      </div>

      <!-----------------------------------------STATISTIKA----------------------------------------------->
      <div class="card" style="margin-top: 100px;margin-right: 100px;margin-left: 100px;margin-bottom: 200px;background-color: lightgray;">
        <table>
            <tr>
                <td>
                    <div class="card" style="width: 400px;margin-top: 20px;margin-right: 20px;margin-left: 40px;margin-bottom: 20px;">
                        <canvas id="offerInACtiveTenderChart"></canvas>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 400px;margin-top: 20px;margin-right: 20px;margin-left: 20px;margin-bottom: 20px;">
                        <canvas id="chartsWinn"></canvas>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 300px;margin-top: 20px;margin-right: 20px;margin-left: 0px;margin-bottom: 20px;">
                        <canvas id="winningsChart"></canvas>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 400px;margin-top: 20px;margin-right: 20px;margin-left: 0px;margin-bottom: 20px;">
                        <canvas id="chartsParticipation"></canvas>
                    </div>
                </td>
            </tr>
        </table>  
    </div>

</div>
