<div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col justify-content-center d-flex"><h1 style="color: #02b3e4;">Surveys</h1></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col justify-content-center d-flex">
            <canvas id="myChart1" style="max-width: 400px; max-height: 600px; height: 400px;"></canvas>
        </div>
        <div class="col justify-content-center d-flex">
            <canvas id="myChart2" style="max-width: 400px; max-height: 600px; height: 400px;"></canvas>
        </div>
        <div class="col justify-content-center d-flex">
            <canvas id="myChart3" style="max-width: 400px; max-height: 600px; height: 400px;"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col justify-content-center d-flex">
            <p style="font-size: 15pt;">Average: {{staffAverage.toFixed(2)}}</p>
        </div>
        <div class="col justify-content-center d-flex">
            <p style="font-size: 15pt;">Average: {{hospitalAverage.toFixed(2)}}</p>        
        </div>
        <div class="col justify-content-center d-flex">
            <p style="font-size: 15pt;">Average: {{portalAverage.toFixed(2)}}</p>        
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col justify-content-center d-flex" style="font-size: 17pt;">
            <p>Average value of all questions: {{allQueastionsAverage.toFixed(2)}}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2 style="padding-left: 25pt;">STAFF</h2>
            <p style="font-size: 15pt; padding-left: 25pt;">1. How knowledgeable was the staff at this hospital?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">2. How professionally did the staff at this hospital behave?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">3. How easy was it to talk to the staff at this hospital about your medical condition(s)?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">4. How responsive was the staff at this hospital to your questions?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">5. How often did the staff at this hospital describe possible side effects before administering your medicine?</p>
            <br>
            <h2 style="padding-left: 25pt;">HOSPITAL</h2>
            <p style="font-size: 15pt; padding-left: 25pt;">1. During this stay at this hospital, how clean was your room kept?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">2. Overall, how hygienic did you find this hospital?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">3. How well did the meals served at this hospital meet your dietary needs?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">4. Over the course of your stay at this hospital, were you satisfied with the care you received</p>
            <p style="font-size: 15pt; padding-left: 25pt;">5. How likely are you to recommend this hospital to others?</p>
            <br>
            <h2 style="padding-left: 25pt;">PORTAL</h2>
            <p style="font-size: 15pt; padding-left: 25pt;">1. How would you rate our website design?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">2. How would you rate the usability of our website?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">3. How easy was it to find the information you were looking for?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">4. How would you rate the performance of our website?</p>
            <p style="font-size: 15pt; padding-left: 25pt;">5. How likely are you to recommend our website to your friends or family?</p>
            <br>
            <br>
        </div>
    </div>
</div>