.backgroundImage{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../assets/doctor.jpg");
    background-attachment: fixed;
    min-height: 100%;
    min-width:1024px;
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
  }
  .example-card {
    width: 250px;
    height: 150px;
    color: white;
  }
 i {
    font-size: 40px;
}

  .example-card:hover{
      background-color: #dabbbb;
      cursor: pointer;
  }

  button{
      background-color: gray;
  }
  .card1{
      background-color: #6a1616;
  }
  .card2{
    background-color: #aa5f5f;
  }
  .card3{
    background-color: #280808;
}
  .card4{
  background-color: #350b0b;
}
.card5{
    background-color: #913232;
}
  .card6{
  background-color: #851b1b;
}


a.fa-bell {
  position: relative;
  font-size: 1.2em;
  color: grey;
  cursor: pointer;
  width: 2em;
}
span.fa-comment {
  position: absolute;
  font-size: 0.8em;
  top: -4px;
  color: white;
  right: 4px;
}
span.num {
  position: absolute;
  font-size: 0.9em;
  font-weight: bold;
  top: 3px;
  right: 1.3em;
  color: white;

}