<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" *ngIf="!savedActive">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>equipment</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Select equipment :</mat-label>
                <mat-select name="step1" [(ngModel)]="selectedEquipment" formControlName="firstCtrl">
                    <mat-option *ngFor="let equipmentDTO of equipmentsDTO" [value]="equipmentDTO">
                        Equipment: {{ equipmentDTO.name }} - Quantity {{ equipmentDTO.quantity }}
                        <div></div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button  id="btn1" (click)="activateSecond()" mat-button matStepperNext>Next</button>
            </div>
            <div id ="save" (click)="savedActionsOffers($event)">
                <button mat-button >Saved selections</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" *ngIf="savedActive">
        <ng-template matStepLabel>Shortcut history actions</ng-template>
        <div class="container">
            <div class="text-center pt-3">
                <h1> {{title}} </h1>
            </div>
            <div class="table-responsive" *ngIf="filteredequipmentActions">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Source room id</th>
                            <th>Destination room id</th>
                            <th>Name of equipment</th>
                            <th>Number of the last actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="filteredequipmentActions.length !== 0">
                        <tr class="align-middle" *ngFor="let equipmentAction of filteredequipmentActions" >
                            <td>{{equipmentAction.sourceRoomID}}</td>
                            <td>{{equipmentAction.destinationRoomID}}</td>
                            <td>{{equipmentAction.nameOfEquipment}}</td>
                            <td>{{equipmentAction.numberOfEvents}}</td>
                            <div>
                                <button  id="btn1" (click)="activateThirdFromAction(equipmentAction)" mat-button matStepperNext>Next</button>
                            </div>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center" *ngIf="filteredequipmentActions.length === 0">
                    <h3>There are no defined shifts.</h3>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" *ngIf="!savedActive">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>room</ng-template>
            <mat-form-field appearance="fill" *ngIf="equipmentsDTO">
                <mat-label>Select source room :</mat-label>
                <mat-select  name="step2" [(ngModel)]="selectedRoomWithEquipment" formControlName="secondCtrl">
                    <mat-option *ngFor="let equipment of equipments" [value]="equipment">
                        Room: {{ equipment.roomId }} - Equipment: {{ equipment.name }} - Quantity {{ equipment.quantity }}
                        <div></div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button id="btn2" (click)="activateThird()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Fill out amount</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input id ="step3" matInput [(ngModel)]="equipmentAmount" placeholder="Last name, Third name" formControlName="thirdCtrl" max="100" required />
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button id="btn3" (click)="activateForth()" mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup">
            <ng-template matStepLabel>room</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Select destination room :</mat-label>
                <mat-select id ="step4" [(ngModel)]="selectedDestinationRoom" formControlName="forthCtrl">
                    <mat-option *ngFor="let room of roomsWithoutSource" [value]="room">
                        Room: {{ room.id }} - Name: {{ room.name }} - Sector: {{ room.sector }}
                        <div></div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="activateFive()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fiveFormGroup">
        <form [formGroup]="fiveFormGroup">
            <ng-template matStepLabel>dates</ng-template>

            <mat-label>Select starting date</mat-label>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="pickerStart" [min]="minDate" (dateInput)="addEvent('inputStart', $event)" (dateChange)="addEvent('changeStart', $event)"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-1">
                    <input matInput [(ngModel)]="startHours" type="number" formControlName="startHoursCtrl" min="0" max="23"/><mat-label>hours</mat-label>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="col-1">
                    <input matInput [(ngModel)]="startMinutes" type="number" formControlName="startMinutesCtrl" min="0" max="59"/><mat-label>minutes</mat-label>
                </mat-form-field>
            </div>
            
            <div style="height: 80px;"></div>
            <mat-label>Select ending date</mat-label>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="pickerEnd" [min]="minDate" (dateInput)="addEvent('inputEnd', $event)" (dateChange)="addEvent('changeEnd', $event)"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-1">
                    <input matInput [(ngModel)]="endHours" type="number" formControlName="endHoursCtrl" min="0" max="23"/><mat-label>hours</mat-label>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="col-1">
                    <input matInput [(ngModel)]="endMinutes" type="number" formControlName="endMinutesCtrl" min="0" max="59"/><mat-label>minutes</mat-label>
                </mat-form-field>
            </div>
            <div style="height: 80px;"></div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="activateSix()" mat-button matStepperNext>Next</button>
            </div>
        </form>
        
    </mat-step>
    <mat-step [stepControl]="sixFormGroup">
        <form [formGroup]="sixFormGroup">
            <ng-template matStepLabel>duration</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>enter duration</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="duration" formControlName="sixCtrl"/><mat-label>m</mat-label>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="activateSeven()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="sevenFormGroup">
        <form [formGroup]="sevenFormGroup">
            <ng-template matStepLabel>possible terms of relocation</ng-template>
            <mat-form-field appearance="fill" class="col-5">
                <mat-label>Chose one of possible terms of relocation</mat-label>
                <mat-select [(ngModel)]="selectedFreeTerm" formControlName="sevenCtrl">
                    <mat-option *ngFor="let freeTerm of freeTerms" [value]="freeTerm">
                        <div>
                            From {{ freeTerm.startTime | date: 'dd.MM.yyyy HH:mm' : 'UTC' }}
                            To {{ freeTerm.endTime | date: 'dd.MM.yyyy HH:mm' : 'UTC' }}
                         </div>
                        <div></div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="activateLast()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
            <p>successfully scheduled appointment for relocation equipment</p>
        </div>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
