 <div class="logo" > 
    <table> 
        <tr> 
            <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>
            <td style="margin-left:1200px;">
            <li class="nav-item" style="margin-left: 1380px; "> 
           <a class="nav-link" routerLink="">Home</a>
       </li> </td>
        </tr>
        
       </table>      
</div>

<div class="backgroundImage" style="height: 800px;">
    <div class="container-fluid">
        <h3  style="margin-left: 3em; margin-top: 1em; color:rgb(23, 23, 102);">All reports from hospitals about medicine consumption: </h3>
        <hr/> 
        <div class="row justify-content-center">
            <div class="col-8">
                <ul class="list-group">
                    <a [routerLink]="" (click)="getReport(reportName)" class="list-group-item list-group-item-action" *ngFor = 'let reportName of reportNames'>{{reportName}}</a>
                </ul>
            </div>
        </div>
    </div>
</div>