.backgroundImage{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../images/specialist-pharmacy.jpg");

     height: 100%;
    min-width:1024px;
    width: 100%;
    
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
   
  }
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
}


li a{
  width: 200px;
  color:rgb(23, 23, 102);
 font-weight: bold;
 text-decoration: none; /* da ne bi bila podvucena linija!*/
 list-style: none;
 font-size: large;
}

li {
    list-style-type: none;
}