 <!-- zaglavlje -->
 <div class="logo" > 
    <table> 
        <tr> 
            <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>
            <td style="margin-left:1200px;">
            <li class="nav-item" style="margin-left: 1200px; font-size: larger;"> 
           <a class="nav-link" routerLink="" >Home</a>
       </li> </td>
        </tr>
        
       </table>      
</div>


<div class="backgroundImage">
   <!--<div style="height: 50px"> </div>--> 

    
   
   
   <!-- <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Tender 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
          <p class="card-text">Panklav 52</p>
          <p class="card-text">Verapamil 20</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> -->


      <div class="container-fluid">
            
        <div class="mx-auto card " style="background: transparent;">
            <div class="card-body" style="background: transparent;">
                <h3 style="margin-left: 5rem;"> All active tenders: </h3>
                <hr />

                  <div class="card-columns mx-auto">

                      <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title">Flos Pharmacy</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
                          <p class="card-text">Panklav 52</p>
                          <p class="card-text">Verapamil 20</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date start: </h6>
                          <p class="card-text"> 20/12/2021</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date end: </h6>
                          <p class="card-text"> 20/02/2022  </p>
                        
                          <a href="#" class="card-link" style="text-decoration: darkred;    color: rgb(27, 46, 133); ; font-size:large ;">Response </a>

                        </div>
                      </div>

                      <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title">Flos Pharmacy</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Tender items: </h6>
                          <p class="card-text">Brufen 30</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date start: </h6>
                          <p class="card-text"> 20/12/2021</p>
                          <h6 class="card-subtitle mb-2 text-muted">Date end: </h6>
                          <p class="card-text"> 20/02/2022  </p>
                          <a href="#" class="card-link" style="text-decoration: darkred;    color: rgb(27, 46, 133); ; font-size:large ;">Response </a>
                         
                        </div>
                      </div>
                      
                  </div>

            </div>
        </div>

      </div>
</div>

