/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';

#toast-container > div {
    opacity:1;
}
.toast-custom{
    top: 2vh;
    right: 1vw;
}