 <!-- zaglavlje -->
 <div class="logo" > 
    <table> 
        <tr> 
            <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>
            <td style="margin-left:1200px;">
            <li class="nav-item" style="margin-left: 1150px; "> 
           <a class="nav-link" routerLink="">Home</a>
       </li> </td>
        </tr>
        
       </table>      
</div>

<div  class= "backgroundImage" >
    <!-- text
     <div class="container"> <h3>Giving patient and prescribers access to the higest quality personalised medications.</h3></div>-->
     
     <div class="table-responsive table-striped">
        <table class='table'>
            <thead   style="color:rgb(17, 67, 109); opacity: 2.2; background-color: whitesmoke;">
                <tr>
                    <th> </th>
                    <th>Hospital name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  
                 <tr *ngFor = 'let hospital of hospitals'>    
                     <td></td>
                     <td style="width: 250px;">{{hospital.hospitalName}}</td>
                     <td style="width: 500px;">{{hospital.hospitalAddress}}</td>
                     <td style="width: 250px;">{{hospital.email}}</td>
                     <td> </td>
                 </tr>  
<!--
                <tr>    
                   <td ></td>
                   <td style="width: 250px;"> <label>Benu</label></td>
                   <td style="width: 500px;">
                      Bulevar Oslobodjenja 45 Novi Sad </td> 
                   
                   <td> </td>
                   
               </tr>

               <tr>    
                   <td></td>
                   <td > <label>Pro Medic </label></td>
                   <td>
                       Karadjordjeva 45 Sabac </td> 
                   
                  
               </tr>-->

            </tbody>
        </table>
    </div>
   <div style="height: 400px; width:20px ;"> </div>
    </div>



