<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [(opened)]="isShowing"
      position="end">
      <mat-toolbar>
        <button
          type="button"
          aria-label="Close sidenav"
          mat-icon-button
          (click)="sidenav.close()">
          <mat-icon aria-label="Side nav close icon">arrow_forward</mat-icon>
        </button>
        {{sidenavTitle}}
      </mat-toolbar>
      <ng-content select="[app-sidebar]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content select="[app-sidebar-content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>