<app-navbar>
    <div app-navbar-button>
    </div>
</app-navbar>
<div class="backgroundImage">
    <h1 style="color: rgb(133 27 27); margin-left: 43%;"> Notifications </h1>
     <div class="table-responsive table-striped">
         <table class='table'>
             <thead   style="color:rgb(95, 173, 236); opacity: 2.2; background-color: transparent; margin-left: 15%;">
                 <tr>
                     <th> </th>
                     <th  style="width: 200px">Date</th>
                     <th style="width: 600px">Content</th>
                     <th style="width: 250px"> Status</th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor = 'let notification of notifications'>    
                   <td></td>
                     <td style="opacity: 2.2; color: black; font-size: 16px;">{{notification.date | date:'short'}}</td>
                     <td>{{notification.content}}</td>                   
                     <td> <button type="button" class="btn btn-secondary" style="width: 150px;" *ngIf="!notification.seen" (click)="changeToSeen(notification)"> <i class="bi-alarm"></i> procitano </button></td>
                     <td> <button type="button" class="btn btn-outline-secondary" style="width: 150px; margin-right: 3em;"  (click)="deleteNotification(notification.id)"> <i class="bi bi-trash"></i> obrisi </button></td>
                 </tr>
             </tbody>
         </table>
     </div>
</div>


