<app-navbar>
    <div app-navbar-button>
    </div>
</app-navbar>
<div class="backgroundImage">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <ul class="list-group">
                    <a [routerLink]="" (click)="getReport(reportName)" class="list-group-item list-group-item-action" *ngFor = 'let reportName of reportNames'>{{reportName}}</a>
                </ul>
            </div>
        </div>
    </div>
</div>