
<div class="logo" >
  <table>
      <tr>
          <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
          <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>

         <!-- A grey horizontal navbar that becomes vertical on small screens -->
         <td >
<nav class="navbar navbar-expand-sm  justify-content-end">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#registration">Hospital registration</a>
      </li>
      <li class="nav-item" style="margin-left: 20px;">
        <a class="nav-link" routerLink="/complaints">Complaints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hospitals">Registred hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/space_occupied">Disk Management</a>
      </li>
    </ul>
  </div>

</nav>
</td>

</tr>
  </table>


</div>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header">Doughnut chart</div>
                        <div class="card-body" style="height: 420px">
                          <div style="display: block">
                            <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [type]="doughnutChartType">
                            </canvas>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
