<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar [style.backgroundColor]="roomColor(room.type)" class="header-image">{{room.name}}</div>
        <mat-card-title>{{room.roomName}}</mat-card-title>
        <mat-card-subtitle>{{room.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Floor:</th>
                <td>{{room.floor}}</td>
              </tr>
              <tr>
                <th scope="row">Sector:</th>
                <td>{{room.sector}}</td>
              </tr>
            </tbody>
          </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Edit</button>
    </mat-card-actions>
</mat-card>