<app-navbar>
    <div app-navbar-button>
    </div>
</app-navbar>
<div class="backgroundImage" style="overflow-x: hidden;">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col justify-content-center d-flex">
            <h1 style="color: rgb(133 27 27);">Malicious Patients</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="table-responsive table-striped">
                <table class='table text-center'>
                    <thead style="color:rgb(95, 173, 236); margin-bottom: 15px;">
                        <tr>
                            <th>Username</th>
                            <th>Fullname</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Blocked</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr *ngFor="let patient of patients">
                            <td>{{patient.username}}</td>
                            <td>{{patient.fullName}}</td>
                            <td>{{patient.phone}}</td>
                            <td>{{patient.email}}</td>
                            <td>
                                <button [disabled]="patient.isBlocked" (click)="blockPatient(patient)"
                                    type="button" class="btn btn-danger" style="background-color:#bb2d3b;">
                                    Block
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>