<app-navbar>
    <div app-navbar-button>
    </div>
</app-navbar>


<!-- Modal -->
<div id="newComplaint" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal for complaint-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New complaint</h4>
        </div>
        <div class="modal-body">
          
            <div> 
                <td><label style="font-size: medium;">Pharmacy</label>  </td>
                      <td >
                        <select  [(ngModel)]="newComplaint.pharmacyId" id="pharmacy">
                            <option  *ngFor="let pharmacy of pharmacies" [value]="pharmacy.pharmacyId" (click)="getMyApiKey(pharmacy.pharmacyId)">{{pharmacy.pharmacyName}}</option>
                        </select>
       
                     </td>
              <table> 
                  <tr style="height: 10px;"> </tr>
                  <tr> 
                      <td class="tdInForm"> <label style="font-size: medium;">Title</label></td>
                      <td ><input type="text" class="form-control" placeholder="Enter title" [(ngModel)]="newComplaint.title" id="title"> </td>
                  </tr>
                  <tr style="height: 10px;"> </tr>
                  <tr> 
                      <td class="tdInForm"> <label style="font-size: medium;">Content</label> </td>
                      <td style= "width: 250px"> <textarea type="text" class="form-control" style= "width: 250px; height: 100px"  placeholder="Enter content" [(ngModel)]="newComplaint.content" id="content"></textarea></td>
                  </tr>
              </table>
              
            </div>       
              
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" style="margin-right:30px; " data-dismiss="modal" (click) ="addNewComplaint()" id="submit">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="backgroundImage" > 

<div style= "margin-right: 10%; margin-left: 5%;">    
   <button class='btn btn-secondary addButton' data-toggle="modal" data-target="#newComplaint" id="add">Add new complaint</button>
</div>
<div class="table-responsive table-striped">
    <table class='table' id="complaints">
        <thead   style="color:rgb(95, 173, 236); opacity: 2.2; background-color: whitesmoke;">
            <tr>
                <th> </th>
                <th>Date</th>
                <th>Title</th>
                <th>Content</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let complaint of complaints'>    
                <td></td>
                <td style="opacity: 2.2; color: black; font-size: 16px;">{{complaint.date | date:'short'}}</td>
                <td><a [routerLink] ="['/complaint' , complaint.complaintId]">
                    {{complaint.title}} </a></td> 
                <td>{{complaint.content}}</td>
                <button class="btn btn-secondary" style= "background-color: gray;" (click)="deleteComplaint(complaint.complaintId)"><i class="fa fa-trash"></i> Delete</button>
            </tr>
        </tbody>
    </table>
</div>

</div>