<div class="logo" >
    <table>
        <tr>
            <td><img src="../../favicon.ico" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; font-weight: bold;  color:rgb(23, 23, 102); " >Flos</p></td>

           <!-- A grey horizontal navbar that becomes vertical on small screens -->
           <td >
<nav class="navbar navbar-expand-sm  justify-content-end">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#registration">Hospital registration</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="nav-link" routerLink="/complaints">Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hospitals">Registred hospitals</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Reports</a>
        </li>
        <li class="nav-item" >
          <table style="margin-top:6px ;" >
          <tr>
             <td>
               <a class="smooth-scroll" routerLink="/notifications">Notifications</a> </td> 
               <td class="td3 ">   <a class="fa fa-bell" style="width: 70px; margin-top: 3px; margin-left: 5px; color: grey; " routerLink="/notifications">
            <span class="num">{{numberOfUnseen}}</span></a> </td>
          </tr> </table>
           
           
          

       </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/space_occupied">Disk Management</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tenders">Tenders</a>

        </li>
      </ul>
    </div>

  </nav>
 </td>

 </tr>
    </table>


</div>
<div  class= "backgroundImage" >
   <!-- text

    <div class="container"> <h3>Giving patient and prescribers access to the higest quality personalised medications.</h3></div>-->

</div>

<!-- Modal -->
<div id="registration" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal for complaint-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registration</h4>
        </div>
        <div class="modal-body">

            <div>
                <td>
                     </td>
              <table>
                  <tr style="height: 10px;"> </tr>
                  <tr>
                      <td class="tdInForm"> <label style="font-size: medium;">Name</label></td>
                      <td ><input type="text" class="form-control" placeholder="Enter name"  [(ngModel)]="hospital.hospitalName"> </td>
                  </tr>
                  <tr style="height: 10px;"> </tr>
                  <tr>
                      <td class="tdInForm"> <label style="font-size: medium;">Your url</label> </td>
                      <td style= "width: 250px"> <input type="text" class="form-control" placeholder="Enter url" [(ngModel)]="hospital.hospitalUrl" ></td>
                    </tr>
                    <tr style="height: 10px;"> </tr>
                 <tr>
                    <td class="tdInForm"> <label style="font-size: medium;">Address</label> </td>
                    <td style= "width: 250px"> <input type="text" class="form-control" placeholder="Enter address" [(ngModel)]="hospital.hospitalAddress" ></td>

                  </tr>
                  <tr style="height: 10px;"> </tr>

              </table>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="margin-right:30px; " data-dismiss="modal"  data-toggle="modal" data-target="#api" (click)="register()">Confirm</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>

<!--api key modal-->
<div id="api" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal for complaint-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Api key</h4>
      </div>
      <div class="modal-body">

          <div>
            <Label>This is your hospitalAccess key: </Label> {{apiKeyForHospital}}

            <table>

            </table>

          </div>

      </div>
      <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
