@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


nav {
  margin-left: 10em;
}

li a{
    width: 12em;
    color:rgb(23, 23, 102);
   font-weight: bold;
 text-decoration: none; /* da ne bi bila podvucena linija!*/
 font-size: large;
   
}
li a:hover{
    color: blue;
    cursor: pointer;
}

.logo {
    margin-top: 1em;
    background-color: whitesmoke;
}

.positionOfText{
   
margin-left: 20px;
 height: 600px;
 width: 300px;
 font-style: italic;
 color: rgb(48, 48, 202);
}
.backgroundImage{
    background-image: url("../../images/specialist-pharmacy.jpg"), linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));

    height: 750px;
   margin-left: 70px;
    background-repeat: no-repeat;
     background-position: center center;
    /* Set up positioning */
    position: relative;
    top: 0;
    
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
   
  }
}


.tdInForm {
    width: 34%;
}
.td2{
    width: 70%
}
.td3{
  width: 34%;
}


@import url("../../assets/styles/styles.css");

a.fa-bell {
    position: relative;
    font-size: 1.2em;
    color: grey;
    cursor: pointer;
    margin-left: 5px;
    width: 1em;
    text-decoration: none;
  }
  span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: blue;

  }
span.num {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    top: -4px;
    color:blue;

  }