@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


nav {
  margin-left: 850px;
}

li a{
    width: 200px;
    color:rgb(23, 23, 102);
   font-weight: bold;
   
}
li a:hover{
    color: blue;
    cursor: pointer;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
}

.positionOfText{
   
margin-left: 20px;
 height: 600px;
 width: 300px;
 font-style: italic;
 color: rgb(48, 48, 202);
}
.backgroundImage{
    background-image: url("../../images/specialist-pharmacy.jpg"), linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));

    height: 750px;
   margin-left: 70px;
    background-repeat: no-repeat;
     background-position: center center;
    /* Set up positioning */
    position: relative;
    top: 0;
    
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
   
  }
}


.tdInForm {
    width: 34%;
}
.td2{
    width: 70%
}