<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="feedbackForm" (ngSubmit)="sendFeedback(modal)">
      <div class="form-group">
        <label for="feedback">Leave feedback here:</label>
        <div class="input-group">
          <textarea style="margin-left: 1%;" minlength="3" maxlength="30" rows="6" class="form-control" autofocus
            type="text" formControlName="textControl"></textarea>
        </div>
        <br />
        <label>Anonymus:</label>
        <br />
        <div class="btn-group btn-group-toggle" style="margin-left: 2%; margin-top: 1%;" ngbRadioGroup
          name="radioBasic">

          <input type="radio" formControlName="anonymityControl" [value]="true" />
          <label style="margin-left: 2%;">Yes</label>

          <input style="margin-left: 30%;" formControlName="anonymityControl" type="radio" [value]="false" />
          <label style="margin-left: 2%;"> No</label>
        </div>
        <br />
        <br />
        <label>Allow publishing:</label>
        <br />
        <div class="btn-group btn-group-toggle" style="margin-left: 2%; margin-top: 1%;" ngbRadioGroup
          name="radioBasic">
          <input type="radio" formControlName="publishControl" [value]="true" />
          <label style="margin-left: 2%;">Yes</label>

          <input style="margin-left: 30%;" formControlName="publishControl" [value]="false" type="radio" />
          <label style="margin-left: 2%;">No</label>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" type="submit" [disabled]="!feedbackForm.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Give us your feedback!</button>

<!-- <ng-lottie id="fbsent" (loopComplete)="loopComplete($event)" [options]="options" width="10%" height="10%"
    style="align-items: center; display: none;"></ng-lottie> -->