<svg>
      <g class="shadow">
            <g >
                  <rect class="border" [attr.x]="room.x" [attr.y]="room.y" [attr.width]="room.width"
                        [attr.height]="room.height" (click)="changeColor()" ></rect>
                  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-family="Verdana"
                        font-size="15" fill="blue"></text>
            </g>
            <rect class="border" *ngIf="room.doorPosition === 'left'" [attr.x]="room.x"
                  [attr.y]="room.y+room.width/2-10" [attr.width]="3" [attr.height]="20" [attr.fill]="doorColor">
            </rect>
            <rect class="border" *ngIf="room.doorPosition === 'top'" [attr.x]="room.x+room.width/2-10" [attr.y]="room.y"
                  [attr.width]="20" [attr.height]="3" [attr.fill]="doorColor"></rect>
            <rect class="border" *ngIf="room.doorPosition === 'right'" [attr.x]="room.x+room.width-3"
                  [attr.y]="room.y+room.height/2-10" [attr.width]="3" [attr.height]="20" [attr.fill]="doorColor">
            </rect>
            <rect class="border" *ngIf="room.doorPosition === 'bottom'" [attr.x]="room.x+room.width/2-10"
                  [attr.y]="room.y+room.height-3" [attr.width]="20" [attr.height]="3" [attr.fill]="doorColor">
            </rect>
      </g>
</svg>