<div class="d-flex justify-content-center" *ngIf="floor">
    <svg [attr.viewBox]="getViewBox(320,640)" preserveAspectRatio="xMidYMid meet" class="svg-content">
    <rect class="border" [attr.x]="1.5" [attr.y]="1.5" [attr.width]="300-3" [attr.height]="600-3"
        [attr.fill]="'#E0E0E0'"></rect>
    <rect class="border" *ngIf="floor.floor === 0" [attr.x]="3"
        [attr.y]="255" [attr.width]="5" [attr.height]="40">
    </rect>    
    <g *ngFor="let room of floor.rooms" (click)="toggleSidenav(room)">
        <g class="shadow">
            <g>
                <rect class="border" [attr.x]="room.x+1.5" [attr.y]="room.y+1.5" [attr.width]="room.width"
                    [attr.height]="room.height" [attr.fill]="roomColor(room.type)"></rect>
                <text dominant-baseline="middle" text-anchor="middle" [attr.x]="room.x+room.width/2"
                    [attr.y]="room.y+room.height/2" font-family="Verdana" font-size="15"
                    fill="white">{{room.name}}</text>
            </g>

            <rect class="border" *ngIf="room.doorPosition === 'left'" [attr.x]="room.x+3"
                [attr.y]="room.y+room.height/2-10" [attr.width]="3" [attr.height]="20">
            </rect>
            <rect class="border" *ngIf="room.doorPosition === 'top'" [attr.x]="room.x+room.width/2-10" [attr.y]="room.y+3"
                [attr.width]="20" [attr.height]="3"></rect>
            <rect class="border" *ngIf="room.doorPosition === 'right'" [attr.x]="room.x+room.width-3"
                [attr.y]="room.y+room.height/2-10" [attr.width]="3" [attr.height]="20">
            </rect>
            <rect class="border" *ngIf="room.doorPosition === 'bottom'" [attr.x]="room.x+room.width/2-10"
                [attr.y]="room.y+room.height-3" [attr.width]="20" [attr.height]="3">
            </rect>
        </g>
        <g>
            <rect class="border" [attr.x]="248" [attr.y]="203" [attr.width]="50" [attr.height]="138" [attr.fill]="'rgb(255,255,255)'"></rect>
            <line class="border" x1="248" y1="220" x2="298" y2="220" stroke="black" />
            <line class="border" x1="248" y1="240" x2="298" y2="240" stroke="black" />
            <line class="border" x1="248" y1="260" x2="298" y2="260" stroke="black" />
            <line class="border" x1="248" y1="280" x2="298" y2="280" stroke="black" />
            <line class="border" x1="248" y1="300" x2="298" y2="300" stroke="black" />
            <line class="border" x1="248" y1="320" x2="298" y2="320" stroke="black" />
        </g>
    </g>
</svg>
</div>