<div class="backgroundImage" > 

    <!-- Naslov -->
    <div class="titleDiv"> 
        <table> 
            <tr> 
                <td><img src="../../assets/favicon.png" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
                <td><p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; "> LeanOn Hospital</p></td>
            </tr>
        </table>
    </div>

    <!-- Pretraga leka -->
    <table class = "search">
        <tr>
            <td><input type="text" style="width: 300px;margin-bottom: 5px;" class="form-control" placeholder="Enter medicine name" [(ngModel)]="medicineName"> </td>
            <td><input type="number" class="form-control" style="width: 200px;margin-bottom: 5px;" [(ngModel)]="medicineAmount"> </td>
            <td><button class="btn  btn-secondary" style="width: 100px;margin-left: 2px;" (click)="searchMedicine()">Search</button></td>
        </tr>
    </table>

    <!-- Tabela -->
        <div class="table-responsive table-striped" *ngIf = 'pharmacies.length != 0'>
            <table class = "search">
                <td><input type="text" style="width: 300px;margin-bottom: 5px;" class="form-control" placeholder="Enter pharmacy city or street" [(ngModel)]="searchParameter"></td>
            </table>
            <table class="table">
                <thead style="color:rgb(62, 66, 70); opacity: 2.2; background-color: whitesmoke;">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Url</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let pharmacy of pharmacies | searchPharmacies:searchParameter'>  
                        <td>{{pharmacy.pharmacyName}}</td>
                        <td>{{pharmacy.pharmacyAddress}}</td>
                        <td>{{pharmacy.pharmacyUrl}}</td>
                        <td><button class="btn btn-secondary" (click)="order(pharmacy)">Order</button></td>  
                    </tr>
                </tbody>
            </table>
        </div>

     <!-- Poruka ako nema leka -->
     <div *ngIf = 'notFound'>
         <p style="margin-left: 80px; margin-top: 30px; font-size: medium; font-weight: bold;">{{notFoundMessage}}</p>
     </div>
</div>
    
