.logo {
    margin-top: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
}

li a{
    width: 200px;
    color:rgb(23, 23, 102);
   font-weight: bold;
   list-style-type: none;
   
}

li {
    list-style-type: none;
}

.backgroundImage{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../images/specialist-pharmacy.jpg");

   height: 100%;
    min-width:1024px;
    width: 100%;
    
    
 

      
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
   
  }
}


.table {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 60px ;
    width: auto;
    opacity:2;
    color: black; font-size: 18px;
    
    
}

.tableModal {
    
    margin-right: 60px ;
    width: auto;
    opacity:2;
    color: black; font-size: 18px;
    
    
}