<app-navbar>
  <div app-navbar-button>
  </div>
</app-navbar>

<div class="backgroundImage">
  <h1 style="color: rgb(133 27 27); margin-left: 45%;"> Benefits</h1>
  <div class="table-responsive table-striped">
    <table class='table'>
        <thead style="color:rgb(95, 173, 236); margin-bottom: 15px;">
            <tr >
              <th></th>
                <th>Title</th>
                <th>Content</th>
                <th>Due Date</th>
                <th>Medicine Id</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let benefit of benefits'>
                <td></td>
                <td hidden>{{benefit.Id}}</td>
                <td>{{benefit.medicineBenefitTitle}}</td>
                <td>{{benefit.medicineBenefitContent}}</td>
                <td>{{benefit.medicineBenefitDueDate}}</td>
                <td>{{benefit.medicineId}}</td>
                <td>             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="unpublishBenefit(benefit)">Publish report</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>

</div>
