<!-- Image and text -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #dedede; box-shadow: 0px 3px 10px 0px; text-shadow: 0 0 black;">
    <a class="navbar-brand" [routerLink]="['/profile']" routerLinkActive="router-link-active">
        <i aria-hidden="true">
            <span class="text-dark">
                <img src="assets/logo.png" alt="Logo" width="50" height="50">
                LeanOn Hospital
            </span>
        </i>
    </a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/appointments']" name="appointmentsLink" routerLinkActive="router-link-active">Appointments <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/basic-scheduling']" routerLinkActive="router-link-active">Scheduling with steps<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/recommended-scheduling']" routerLinkActive="router-link-active">Recommended scheduling<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item align-self-center">
                <app-feedback name="feedbackModal"></app-feedback>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <i class="fa fa-sign-out fa-3x" style="cursor: pointer;" title="Log out" (click)="logOut()"></i>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <i class="fa fa-sign-out fa-3x" style="cursor: pointer;" title="Log out" (click)="logOut()"></i>
            </li>
        </ul>
    </div>
</nav>