<div class="container">
    <div class="text-center pt-3">
        <h1> {{title}} </h1>
    </div>
    <div class="m-auto w-75 p-3">
        <mat-form-field class="w-100">
            <span matPrefix></span>
            <input type="search" matInput name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Start searching for rooms or buildings by name">
            <button matSuffix mat-button (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>Type</th>
                    <th>Floor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="rooms.length !== 0">
                <tr *ngFor="let room of rooms" class="align-middle">
                    <td>{{room.name}}</td>
                    <td>{{room.sector}}</td>
                    <td>{{room.roomType}}</td>
                    <td>{{room.floor}}</td>
                    <td>
                        <button type="button" aria-label="Find on map" mat-icon-button (click)="findOnMap(room)">
                            <mat-icon aria-label="Find on map icon"> location_on</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>