
<div class="backgroundImage" >
<!-- Naslov -->
<div class="titleDiv">
    <table>
        <tr>
            <td><img src="../../assets/favicon.png" style="margin-left:60px ; margin-top: 20px; margin-bottom: 20px;"  width="50" height="50"> </td>
            <td >  <p style="margin-left:20px ; margin-top: 20px; font-style: italic; font-size: x-large; "> LeanOn Hospital</p></td>
        </tr>
    </table>
</div>
 

 <!-- Pretraga leka -->
 <p style="margin-left: 80px; margin-top: 30px; font-size: 18px; "> If you want to search specific medicine, insert medicine name and ammount here and choose pharmacy: </p>

 <table class = "search" style="margin-left: 80px; margin-top: 30px;">
  <tr>
      <td><input type="text" style="width: 300px;margin-bottom: 5px;" class="form-control" placeholder="Enter medicine name" [(ngModel)]="medicineName"> </td>
      <td><input type="number" class="form-control" style="width: 200px;margin-bottom: 5px;" [(ngModel)]="medicineAmount"> </td>
  </tr>
  </table>

 
  <p style="margin-left: 80px; margin-top: 30px; font-size: medium; font-weight: bold;">{{notFoundMessage}}</p>



<!-- Tabela -->
    <div class="table-responsive table-striped">
        <table class='table '>
            <thead style="color:rgb(95, 173, 236); margin-bottom: 15px;">
                <tr >
                    <th style="width: 170px;">
                        <button class="btn  btn-secondary addButton"  data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i>Add new pharmacy</button>
                    </th>
                    <th style="width: 170px;">Name</th>
                    <th style="width: 270px;">Address</th>
                    <th style="width: 270px;">Url</th>
                   
                    <th></th>
                    <th></th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let pharmacy of pharmacies'>
                    <td></td>
                    <td>{{pharmacy.pharmacyName}}</td>
                    <td>{{pharmacy.pharmacyAddress}}</td>
                    <td>{{pharmacy.pharmacyUrl}}</td>
                     <!--<td>{{pharmacy.hospitalApiKey}}</td> -->
                    
                    <td> <button style="color: gray; " class="btn"><a [routerLink] ="['/pharmacy' , pharmacy.pharmacyId]"> Show profile</a> </button></td>
                    <button class="btn" (click)="deletePharmacy(pharmacy.pharmacyId)" style="margin-top: 15px !important;"> Delete</button>
            
                    <button class="btn" (click)="searchMedicine(pharmacy.hospitalApiKey)" style="margin-top: 15px !important;">Search</button>
                  </tr>
            </tbody>
        </table>
    </div>


 <!-- Modal for registration-->
<div id="myModal" class="modal fade" style="display: none;" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registrartion pharmacy</h4>
        </div>
        <div class="modal-body">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Enter pharmacy name" [(ngModel)]="newPharmacy.pharmacyName">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="Enter pharmacy address" [(ngModel)]="newPharmacy.pharmacyAddress">
          <label>Url</label>
          <input type="text" class="form-control" placeholder="Enter pharmacy url" [(ngModel)]="newPharmacy.pharmacyUrl">
          <label>ApiKey</label>
          <input type="text" class="form-control" placeholder="Enter pharmacy api key" [(ngModel)]="newPharmacy.hospitalApiKey">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addNewPharmacy()">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


<!-- Modal for edit-->
<div id="myModalEdit" class="modal fade" style="display: none;" role="dialog" aria-hidden="true" *ngIf="editing">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit pharmacy</h4>
        </div>
        <div class="modal-body">
         <app-edit-pharmacy [pharmacyEdit]='pharmacyForEdit' (refreshPharmacy)="refreshPharmacies()"></app-edit-pharmacy>
         <button class="btn" data-dismiss="modal" aria-label="Close" >Cancel</button>
        </div>
      </div>
    </div>
</div>
